.ts-row {
  position: relative;
  box-sizing: border-box;

  &:after,
  &:before {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }

  &--flex {
    display: flex;

    &:after,
    &:before {
      display: none;
    }

    &.is-justify-center {
      justify-content: center;
    }

    &.is-justify-end {
      justify-content: flex-end;
    }

    &.is-justify-space-between {
      justify-content: space-between;
    }

    &.is-justify-space-around {
      justify-content: space-around;
    }

    &.is-align-middle {
      align-items: center;
    }

    &.is-align-bottom {
      align-items: flex-end;
    }
  }
}
